

@{
    Layout = null;
}

@model  List<RestaurantBul.Models.CommentViewModel>

@foreach (var item in Model)
{
    <div class="customer-review_wrap">
        <div class="customer-img">
         
            <p>@item.Name</p>
            @*<span>@item.Email</span>*@
        </div>
        <div class="customer-content-wrap">
            <div class="customer-content">
             
                <div class="customer-rating">@item.Point</div>
            </div>
            <p class="customer-text">
                @item.Content
            </p>
            <ul>
                <li>
                    <img src="/@item.CommentPic" class="img-fluid" alt="">
                </li>
           
            </ul>
          
        </div>
    </div>
    <hr />
}