@model IEnumerable<RestaurantBul.Models.AddPlaViewModel>


    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-4">
                <label class="custom-checkbox">
                    <span class="ti-check-box"></span>
                    <span class="custom-control-description">@item.Equals(1)</span>
                </label>
            </div>
        }


    </div>


